page-item,
.item {
  ion-slides {
    height: auto;

    img {
      float: left;
    }
  }

  .btn-wish-list {
    position: absolute;
    top: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 1000;
    right: 1rem;
  }

  .item-stats {
    ion-col + ion-col {
      border-left: 1px solid color($colors, bgColor);
    }
  }
  .item-nav {
    background: linear-gradient(0deg, rgba(217, 217, 217, 0.4) 0%, rgba(217, 218, 217, 0.55) 100%) !important;
  }
  .item-content {
    top: -56px !important;
  }
}
