<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><span class="font-red">{{ title }}</span></ion-title>

    <ion-buttons end>
      <!--<button ion-button icon-only>-->
        <!--<ion-icon name="search"></ion-icon>-->
      <!--</button>-->
      <!--<button ion-button icon-only>-->
        <!--&lt;!&ndash;<ion-icon name="cart"></ion-icon>&ndash;&gt;-->
        <!--<i class="fa fa-cart-plus font-lg"></i>-->
      <!--</button>-->
      <button ion-button icon-only (click)="fnGoToCart()">
        <ion-icon name="ios-cart"></ion-icon>
        <span class="badge"> {{ shareService.count_product }} </span>
      </button>
      <button ion-button icon-only (click)="fnGoToProductOption()">
        &nbsp;&nbsp;&nbsp;<i class="fa fa-cart-plus" style="font-size: 22px;"></i>
      </button>
      <!--<button type="button" class="btn green btn-circle" (click)="fnBuyProduct()">-->
        <!--<i class="fa fa-cart-plus font-lg"></i>-->
        <!--{{ 'BUY_PRODUCT' | translate }}</button>-->
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-slides pager class="slides">
    <ion-slide *ngFor="let img of productData.image_gallery_path">
      <img class="img-product" imageViewer="{{img.path}}" [src]="img.path_thumbnail||img.path"/>
      <!--<ion-img class="img-product" width="80" height="80" src="{{img_url}}"></ion-img>-->
      <!--<img src="IMAGE_URL" imageViewer />-->
    </ion-slide>
  </ion-slides>
  <div class="">
    <span class="font-blue font-lg bold uppercase">{{ fnLang(productData.name_th, productData.name_en) }}</span>
    <div class="">
      <span class="font-red-thunderbird font-lg bold uppercase">{{'PRICE'|translate}}:</span>
      <span class="font-green-jungle font-lg sbold">{{ fnGetPrice() | number:'1.2-2' }}</span>
      <span class="font-red-thunderbird font-lg bold uppercase">{{'BAHT'|translate}}</span>
      <!--<span class="font-blue font-bold">{{'PRICE'|translate}}: </span>-->
      <!--<span class="font-red font-bold">{{ fnGetPrice() | number:'1.2-2' }}</span>-->
      <!--<span class="font-blue font-bold">{{ 'BAHT'|translate }}</span>-->
      <hr/>

      <span class="font-blue font-bold">{{'DESCRIPTION'|translate}}: </span>
      <div [innerHTML]="fnLang(productData.detail_th, productData.detail_en) || '-'" class=""></div>
      <hr/>

      <div class="col-md-12">
      <div class="right" align="right">
        <button type="button" class="btn blue btn-circle" (click)="fnGoToProductOption()">
          <i class="fa fa-cart-plus font-lg"></i>
          {{ 'SELECT_PRODUCT_OPTION' | translate }}</button>
      </div>
      </div>
      <!--<span class="font-blue font-bold">{{'BUY_PRODUCT'|translate}}: </span>-->
      <!--<div class="col-md-12">-->
          <!--จำนวน:-->
          <!--<div class="input-group" style="width: 100px;">-->
          <!--<span class="input-group-btn" (click)="fnDownQuantity()"><button-->
            <!--class="btn btn-default red bootstrap-touchspin-down" type="button">-</button></span>-->
            <!--<input type="number"-->
                   <!--name="quantity"-->
                   <!--[value]="buyProduct.quantity"-->
                   <!--class="form-control"-->
                   <!--style="width: 60px;">-->
            <!--<span (click)="fnAddQuantity()"-->
                  <!--class="input-group-btn"><button class="btn btn-default green bootstrap-touchspin-up"-->
                                                  <!--type="button">+</button></span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<hr/>-->
    </div>
  </div>

  <!--<div class="col-md-12 col-sm-2 col-xs-12">-->
  <!--<div class="color-demo tooltips" data-original-title="Click to view demos for this color">-->
  <!--<div class="color-view bg-white bg-font-white bold uppercase"> #ffffff</div>-->
  <!--<div class="color-info bg-white c-font-14 sbold"> white</div>-->
  <!--</div>-->
  <!--</div>-->

  <dx-popup
          class="popup"
          width="100%"
          height="100%"
          [showTitle]="true"
          title="{{'SELECT_PRODUCT_OPTION' | translate}}"
          [dragEnabled]="false"
          [closeOnOutsideClick]="false"
          [showCloseButton]="true"
          [(visible)]="selectProductOptionVisible">
    <div *dxTemplate="let data of 'content'">
      <dx-validation-group #val1>
        <ion-grid>
          <!--<ion-row class="border-bottom product-row"-->
                   <!--style="height: 135px;">-->
            <!--<ion-col col-3 class="col1">-->
              <!--<img src="{{apiService.fnBuildImgUrl(productData.logo_path_thumbnail)}}" class="list-product">-->
            <!--</ion-col>-->
            <!--<ion-col col-9 class="io-content margin-auto">-->
              <!--<h2 class="font-blue font-lg bold uppercase product-title">-->
                <!--{{lang=='th'?productData.name_th:(productData.name_en||productData.name_th)}}</h2>-->
              <!--<div class="short-detail" [innerHTML]="lang=='th'?productData.detail_th:(productData.detail_en||productData.detail_th)"-->
              <!--&gt;</div>-->
              <!--<div>-->
                <!--<span class="font-red-thunderbird font-lg bold uppercase">{{'PRICE'|translate}}:</span>-->
                <!--<span class="font-green-jungle font-lg sbold">{{ fnGetPrice(product) | number:'1.2-2' }}</span>-->
                <!--<span class="font-red-thunderbird font-lg bold uppercase">{{ 'BAHT'|translate }}</span>-->
              <!--</div>-->
            <!--</ion-col>-->
          <!--</ion-row>-->
          <ion-row class="border-bottom">
            <ion-col col-12>
              <div *ngFor="let attr of buyProduct.select_attribute; let idx = index">
            <span
                    class="font-blue font-lg bold uppercase">{{fnLang(attr.group_name_th, attr.group_name_en)}}: </span>
                <span class="font-red font-lg uppercase">{{attr.select_value}}</span>
                <div *ngIf="attr.type==attrType.color">
                  <div class="box-color" *ngFor="let attrVal of attr.attribute;"
                       (click)="fnSelectNextAttr(idx, attrVal)"
                       [ngClass]="{'select-box-color': attrVal.is_select}">
                    <div class="box-color-value" [style.background-color]="attrVal.value"></div>
                  </div>
                  <br/>
                </div>
                <div *ngIf="attr.type==attrType.radio_button">
                    <div style="width: 100%">
                    <span class="col-md-8" style="text-align: left;width: 25%" *ngFor="let attrVal of attr.attribute;">
                        {{attrVal.attribute_name_th}}
                    </span>
                    </div>
                  <dx-radio-group
                          [dataSource]="attr.attribute"
                          [displayExpr]="lang=='th'?'attribute_name_th':'attribute_name_en'" valueExpr="attribute_id"
                          (onValueChanged)="fnGetValueSelect(attr.attribute, $event.value, idx)"
                          layout="horizontal">
                    <dx-validator [validationRules]="[{
                              type: 'required',
                              message: 'PLEASE_SELECT' | translate
                            }]"></dx-validator>
                      <div *dxTemplate="let dxt of 'item'">
                          <span style="text-align: left;width: 33%">{{dxt.value}}</span>
                      </div>
                  </dx-radio-group>
                </div>
                <div *ngIf="attr.type==attrType.drop_down">
                  <dx-select-box
                          [value]="buyProduct.shipping_method"
                          [dataSource]="attr.attribute"
                          [displayExpr]="lang=='th'?'attribute_name_th':'attribute_name_en'" valueExpr="attribute_id"
                          placeholder="{{'PLEASE_SELECT' | translate}}"
                          (onValueChanged)="fnGetValueSelect(attr.attribute, $event.value)"
                          [showClearButton]="true"
                  >
                    <dx-validator [validationRules]="[{
                            type: 'required',
                              message: 'PLEASE_SELECT' | translate
                          }]"></dx-validator>
                  </dx-select-box>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="showBtnBuy">
            <ion-col col-12>
              <span class="font-blue font-lg bold uppercase">{{'QUANTITY' | translate}} :</span>
              <span class="font-red font-lg uppercase">{{buyProduct.quantity | number}}</span>
            </ion-col>
          </ion-row>
          <ion-row class="border-bottom" *ngIf="showBtnBuy">
            <ion-col col-6>
              <div class="input-group">
              <span class="input-group-btn">
                <button class="btn red" type="button" (click)="fnDownQuantity()"><i class="fa fa-minus"></i></button>
              </span>
                <dx-number-box [(value)]="buyProduct.quantity"
                               [inputAttr]="{name: 'tbxQuantity', id: 'tbxQuantity'}"
                               style="text-align:center;!important;"
                               [min]="1"
                               [max]="9999999"
                               format="#0"
                               [showSpinButtons]="false"
                               [showClearButton]="false">
                  <dx-validator [validationRules]="[{
                            type: 'required',
                              message: 'PLEASE_INSERT_QUANTITY' | translate
                          }]"></dx-validator>
                </dx-number-box>
                <span class="input-group-btn">
                <button class="btn blue" type="button" (click)="fnAddQuantity()"><i class="fa fa-plus"></i></button>
              </span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="showBtnBuy">
            <ion-col col-12>
              <div class="right" align="right">
                <button type="button" class="btn blue btn-circle" (click)="fnAddToCart()">
                  <i class="fa fa-cart-plus font-lg"></i>
                  {{ 'ADD_TO_CART' | translate }}</button>
                <button type="button" class="btn green btn-circle" (click)="fnAddToCart(true)">
                  <i class="fa fa-cart-plus font-lg"></i>
                  {{ 'BUY_NOW' | translate }}</button>
              </div>
            </ion-col>
          </ion-row>
          <!--<ion-row>-->
          <!--<ion-col col-12>-->
          <!--<span class="font-blue font-lg bold uppercase">{{'SHIPPING_METHOD' | translate}} :</span>-->
          <!--</ion-col>-->
          <!--</ion-row>-->
          <!--<ion-row class="border-bottom">-->
          <!--<ion-col col-9>-->
          <!--<dx-select-box-->
          <!--[value]="buyProduct.shipping_method"-->
          <!--[items]="shippingMethod"-->
          <!--placeholder="{{'SELECT_SHIPPING_METHOD' | translate}}"-->
          <!--[showClearButton]="true"-->
          <!--&gt;-->
          <!--<dx-validator [validationRules]="[{-->
          <!--type: 'required',-->
          <!--message: 'กรุณากรอกข้อมูล ลำดับ'-->
          <!--}]"></dx-validator>-->
          <!--</dx-select-box>-->
          <!--</ion-col>-->
          <!--</ion-row>-->
        </ion-grid>
      </dx-validation-group>
    </div>
  </dx-popup>
</ion-content>

