page-product-detail {

  .slides {
    max-height: 320px;
  }
  .img-product {
    max-width: 99%;
    min-height: 250px;
    max-height: 280px;
    margin-top: -40px;
  }

  .dx-item {
    width: 25% !important;
    text-align: left;
  }
  .dx-radio-value-container {
    width: 10px !important;
  }
}
