<!--
  Generated template for the ProductCartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title><span class="font-red">{{ 'SELECT_DELIVERY_PRODUCT' | translate }}</span></ion-title>

        <ion-buttons end>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-grid>
        <ion-row *ngIf="!selectProduct.length">
            <ion-col col-12 padding>
                <div class="alert alert-warning center">{{ 'PRODUCT_NOT_FOUND'| translate }}</div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="selectProduct.length">
            <ion-col col-12 padding>
                <div class="portlet box blue box-product" *ngFor="let product of selectProduct; let idx = index">
                    <!--<div class="portlet-title">-->
                    <!--<div class="caption">-->
                    <!--&lt;!&ndash;<i class="fa fa-gift"></i>&ndash;&gt;-->
                    <!--<dx-check-box [(value)]="product.is_select" (click)="fnSelectProduct()"></dx-check-box>-->
                    <!--{{ fnLang(product.data.name_th, product.data.name_en) }}-->
                    <!--</div>-->
                    <!--<div class="actions">-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="portlet-body">
                        <ion-grid>
                            <ion-row>
                                <!--<ion-col col-1 align-self-center>-->
                                <!--<dx-check-box [(value)]="product.is_select" (click)="fnSelectProduct()"></dx-check-box>-->
                                <!--</ion-col>-->
                                <ion-col col-3 align-self-center>
                                    <img src="{{apiService.fnBuildImg(product.data, 'logo_path')}}"
                                         class="list-product">
                                </ion-col>
                                <ion-col col-8>
                                    <h2 class="font-blue font-lg bold uppercase product-title">
                                        {{fnLang(product.data.name_th, product.data.name_en)}}</h2>
                                    <div class="price">
                                        <span class="font-red-thunderbird font-lg bold uppercase">{{'PRICE'|translate}}:</span>
                                        <span class="font-green-jungle font-lg sbold">{{ product.data.price1 | number:'1.2-2' }}</span>
                                        <span class="font-red-thunderbird font-lg bold uppercase">{{'BAHT'|translate}}</span>
                                    </div>
                                    <div class="category" *ngIf="product.select_attribute.length">
                                        <span class="font-red-thunderbird font-lg">{{'CATEGORY'|translate}}:</span>
                                        <span class="font-green-jungle">{{fnBuildCatStr(product.select_attribute)}}</span>
                                    </div>
                                    <div>
                                        <span class="font-red-thunderbird font-lg">{{'QUANTITY'|translate}}:</span>
                                        <span class="font-green-jungle">{{product.quantity|number}}</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <!--<div class="col-md-4">-->
                        <!--<img src="{{fnBuildImageUrl(product.data.logo_path_thumbnail)}}" class="list-product">-->
                        <!--</div>-->
                        <!--<div class="col-md-8">-->
                        <!---->
                        <!--</div>-->
                    </div>
                </div>

                <div class="portlet box blue box-m">
                    <div class="portlet-title">
                        <div class="caption" style="float: right;">
                            {{ 'TOTAL' | translate }} {{ total | number:'1.2-2' }} {{'BAHT'|translate}}
                        </div>
                    </div>
                </div>

                <div class="portlet box green box-m">
                    <div class="portlet-title">
                        <div class="caption">
                            {{ 'DELIVERY_ADDRESS' | translate }}
                        </div>
                        <div class="actions ">
                            <a href="javascript:;"><i class="fa fa-pencil"></i></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ion-grid>
                            <ion-row class="border-bottom">
                                <ion-col col-12>
                                    <span class="font-blue font-lg bold uppercase">{{'NAME' | translate}} :</span>
                                    <span>{{buyProduct.name}} :</span>
                                </ion-col>
                            </ion-row>
                            <ion-row class="border-bottom">
                                <ion-col col-12>
                                    <span class="font-blue font-lg bold uppercase">{{'ADDRESS' | translate}} :</span>
                                    <span>{{buyProduct.address}} :</span>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-12>
                                    <span class="font-blue font-lg bold uppercase">{{'PHONE' | translate}} :</span>
                                    <span>{{buyProduct.phone}} :</span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
                <div class="portlet box red box-m">
                    <div class="portlet-title">
                        <div class="caption">
                            {{ 'DELIVERY_TYPE' | translate }}
                        </div>
                        <div class="actions ">
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table>
                            <tr>
                                <td>
                                    <span class="font-blue font-lg bold uppercase">{{'SHIPPING_METHOD' | translate}} :</span>
                                </td>
                                <td>&nbsp;</td>
                                <td style="width: 65px;">
                                    <dx-select-box
                                            [displayExpr]="lang=='th'?'name_th':'name_en'" valueExpr="id"
                                            [value]="buyProduct.shipping_method"
                                            [width]="200"
                                            [items]="shippingMethod"
                                            placeholder="{{'SELECT_SHIPPING_METHOD' | translate}}"
                                            [showClearButton]="true"
                                    >
                                        <dx-validator [validationRules]="[{
                            type: 'required',
                            message: 'PLEASE_SELECT_SHIPPING_METHOD' | translate
                            }]"></dx-validator>
                                    </dx-select-box>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <span class="font-red-thunderbird font-lg bold uppercase">{{'TOTAL'|translate}}:</span>
        <span class="font-green-jungle font-lg sbold">{{ total | number:'1.2-2' }}</span>
        <span class="font-red-thunderbird font-lg bold uppercase">{{'BAHT'|translate}}</span>
        <ion-buttons end>
            <!--<button ion-button icon-only (click)="fnGoHome()">-->
            <!--<ion-icon name="ios-home-outline"></ion-icon>{{'BUY_PRODUCT'|translate}}-->
            <!--</button>-->

            <a href="javascript:;" *ngIf="someSelect" class="btn green btn-sm" (click)="fnConfirmBuy()">
                <span class="bold uppercase font-14">{{'CONFIRM_BUY_PRODUCT'|translate}}</span>
            </a>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
