page-product-cart {

  .slides {
    max-height: 320px;
  }
  .img-product {
    width: 99%;
    max-height: 280px;
    margin-top: -40px;
  }

  .box-m {
    margin-top: -15px !important;
  }
  .box-product {
    margin-top: -20px !important;
  }

  .product-title {
    margin-top: -20px !important;
  }
  .price {
    margin-top: -10px !important;
  }
}
