<!--
  Generated template for the ProductSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!--<ion-title><input type="search" /></ion-title>-->
    <ion-searchbar
      animated="true"
      type="search"
      [(ngModel)]="inputSearch"
      placeholder="{{'SEARCH_PRODUCT'|translate}}"
      autocomplete="off"
      [showCancelButton]="true"
      (ionInput)="onInputSearch($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="fnGoHome()">
        <ion-icon name="ios-home-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding (ionScroll)="scrollHandler($event)">
  <ion-grid>
    <ion-row *ngFor="let product of list_product" (click)="goToDetail(product);" class="border-bottom product-row"
             style="height: 135px;">
      <ion-col col-3 class="col1">
        <img src="{{apiService.fnBuildImg(product, 'logo_path')}}" class="list-product">
      </ion-col>
      <ion-col col-9 class="io-content margin-auto">
        <h2 class="font-blue font-lg bold uppercase product-title">{{fnLang(product.name_th, product.name_en)}}</h2>
        <div class="short-detail" [innerHTML]="fnLang(product.detail_th, product.detail_en)||'-'"
        ></div>
        <div>
          <span class="font-red-thunderbird font-lg bold uppercase">{{'PRICE'|translate}}:</span>
          <span class="font-green-jungle font-lg sbold">{{ fnGetPrice(product) | number:'1.2-2' }}</span>
          <span class="font-red-thunderbird font-lg bold uppercase">{{ 'BAHT'|translate }}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="!isProductNotFound">
    <div class="alert alert-info center" [hidden]="!isMax">{{ 'PRODUCT_FOUND'| translate:{value: countProduct} }}</div>
  </div>
  <div *ngIf="!hideMsg">
    <div class="alert alert-warning" [hidden]="!isProductNotFound">{{'PRODUCT_NOT_FOUND' | translate}} </div>
  </div>
  <!--<ion-list>-->
  <!--<ion-item *ngFor="let product of list_product">-->
  <!--<h2 class="font-blue">{{lang=='th'?product.name_th:(product.name_en||product.name_th)}}</h2>-->
  <!--</ion-item>-->
  <!--</ion-list>-->
  <div class="div-scroll-to-top"  (click)="scrollToTop()" [hidden]="scrollAmount<=100" >
    <i class="icon-arrow-up"></i>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'LOADING_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
