page-product-search {
  .io-content {
    //margin-top: 5px;
  }
  .short-detail {
    width: 98%;
    height: 40px;
    margin-top: -30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .short-detail p {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .margin-auto > .product-title {
    white-space: nowrap !important;
    width: 98% !important;;
    overflow: hidden !important;;
    text-overflow: ellipsis !important;;
  }

  .list-product {
    width: 90%;
    max-width: 115px;
    max-height: 85px;
    margin-top: 6px;
  }

  .product-row {
    height: 100px !important;
  }
  .col1 {
    max-width: 145px !important;
  }
}
