<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <!--<button ion-button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <ion-title>{{'SEARCH_PRODUCT'|translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="fnGoToHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="list-full-border">
    <ion-item>
      <ion-input #input type="search" [(ngModel)]="textSearch" placeholder="{{'SEARCH_TEXT'|translate}}"
                 (keyup.enter)="goToSearchResult($event)"></ion-input>
    </ion-item>
  </ion-list>

  <!--search history-->
  <ion-list class="list-no-border">
    <ion-item *ngFor="let search of searchHistoryList; let idx = index">
      <ion-icon name="md-time" item-left></ion-icon>
      <div (click)="fnSelectOldSearch(search)">{{search}}</div>
      <ion-icon name="close-circle" item-right color="gray" (click)="fnRemoveSearch(idx)"></ion-icon>
    </ion-item>
  </ion-list>

  <div text-right padding *ngIf="searchHistoryList.length">
    <span ion-text color="danger" (click)="fnRemoveAllSearch()">Clear history</span>
  </div>
</ion-content>
